<% provide(:title, "life in the dark") %>

  <div class="images">
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8700/16809476987_07c7c6dd0c_b.jpg" />
          <%= render 'layouts/meta' %>
            <ul class="info">
              <li>f/9.0</li>
              <li>10</li>
              <li>39.0mm</li>
              <li>200</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8686/17016876565_91ba40a50f_b.jpg" />
          <%= render 'layouts/meta' %>
            <ul class="info">
              <li>f/13.0</li>
              <li>5</li>
              <li>55.0mm</li>
              <li>200</li>
            </ul>
          </div>
  </div>
