<h3 id="contact">Contact Information</h3>
  <ul id="links">
    <li><%= link_to "About", "google.com" %></li>
    <li><%= link_to "Flickr", 'https://www.flickr.com/photos/arielthidal/' %></li>
    <li><%= link_to "Facebook", 'https://www.facebook.com/ArielHidal' %></li>
    <li><%= link_to "Complaints", 'https://www.youtube.com/watch?v=uPIIeVH6joA' %></li>
  </ul>
