<div class="meta">
  <%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
  <%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
  <%= image_tag("focal.png", alt: "focal", id: "focal") %>
  <%= image_tag("iso.png", alt: "iso", id: "iso") %>
</div>
